.title_bar
    h1(id = "experience_title")= constant.page_text.experience.title
.experience.section
    hr#experience.clear.experience
    // Job block starts
    - var jobs = constant.page_text.experience.jobs
    - for (var i = 0; i < jobs.length; i++)
        .experience.job
            .experience.job_summary
                .experience.job_summary_info
                    #experience.vertical_bullet
                    h3.vertical_title= jobs[i].position
                    .clear
        
                    #experience.vertical_bullet
                    h3.vertical_title= jobs[i].company
                    .clear
        
                    #experience.vertical_bullet
                    h3.vertical_title= jobs[i].date
                    .clear
                - if(jobs[i].details)
                    - var value = '+';
                    - if(i == 0)
                        - value = '-';
                    button.experience.collapser(id='exp_collapse_job_#{i}', name="#{i}")= value

            .clear
            
            // Details of Job block start
            - if (jobs[i].details)
                ul.experience.job_main_points(id="collapse_points_job_#{i}", name="#{i}")
                    - var details = jobs[i].details
                    - for (var j = 0; j < details.length; j++)
                        li#experience_color(id="detail#{i}-#{j}")
                            span= details[j]
        - if (i < jobs.length - 1)
            .job_seperator
            hr#experience.clear.experience
            .job_seperator